.flashes h4 {
    line-height: 2;
}

.banner {
    line-height: 2;
}

body {
    color: #616161;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.card.small .card-image+.card-content, .card.medium .card-image+.card-content, .card.large .card-image+.card-content {
    max-height: 80%;
}

.title-border {
    padding: 25px;
    height: 50%;
}

.header-details {
    text-align: right;
}