{% extends "base.html" %}

{% block content %}
<h3 class="center-align">Add Lesson</h3>

<!-- add lesson form -->
<div class="row">
    <form class="col s12">
        <div class="row">
            <!-- text input title -->
            <div class="input-field col s12">
                <i ></i>
                <input id="title" name="title" type="text" class="validate" minlength="5" maxlength="20" required>
                <label for="title">Title</label>
            </div>

            <!-- text input description -->
            <div class="input-field col s12">
                <i></i>
                <input id="description" name="description" type="text" class="validate" minlength="5" maxlength="30" required>
                <label for="description">Description</label>
            </div>

            <!-- duration (dropdown?????) -->
            <div class="input-field col s12">
                <i class="fas fa-clock yellow-text text-shadow"></i><br>
                <input id="duration" name="duraion" type="text" class="validate">
                <label for="duration"></label>
            </div>

            <!-- text input procedure -->
            <div class="input-field col s12">
                <i class="fas fa-pen yellow-text text-shadow"></i><br>
                <textarea id="procedure" name="procedure" class="materialize-textarea" minlength="5" maxlength="500" required></textarea>
                <label for="procedure">Procedure</label>
            </div>

            <!-- radio buttons student level -->
            <div class="col s12">
                {% for level in level %}
                    <p>
                        <label>
                            <input name="group1" type="radio" checked />
                            <span>{{ level.level }}</span>
                        </label>
                    </p>
                {% endfor %}
            </div>

        </div>
    </form>
</div>
{% endblock %}