<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}
    {% endblock %}
    <title>Lesson Share</title>
</head>

<body>
    <header>
    <!-- top nav bar -->
        <nav class="nav-extended yellow">
            <a href="{{ url_for('get_lessons') }}" class="teal-text text-lighten-1">LESSONS... PLANNED.</a>
            <div class="nav-wrapper nav-wrapper-padding">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('get_lessons') }}">Home</a></li>
                        {% if session.user %}
                            <li><a href="{{ url_for('add_lesson') }}">Add New Lesson</a></li>
                            <li><a href="#">Manage Lessons</a></li>
                            <li><a href="#">Liked Lessons</a></li>
                            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}">Log In</a></li>
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
            </div>
            <div class="nav-content center-align teal-text text-lighten-1">
                <span class="nav-title">SHARE AND DISCOVER EFL LESSON PLANS</span>
            </div>
        </nav>

        <!-- mobile sidenav bar -->
        <ul class="sidenav sidenav-padding yellow" id="mobile-demo">
            <a href="{{ url_for('get_lessons') }}" class="teal-text text-lighten-1">LESSONS... PLANNED.</a>
            <li class="text-white"><a href="{{ url_for('get_lessons') }}">Home</a></li>
            {% if session.user %}
                <li ><a href="{{ url_for('add_lesson') }}">Add New Lesson</a></li>
                <li><a href="#">Manage Lessons</a></li>
                <li><a href="#">Liked Lessons</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>
    
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="yellow center-align white-text">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" 
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}

</body>

</html>