
{% extends "base.html" %}
{% block content %}

    {% for lesson in lessons %}
        <ul class="collapsible">
            <li>
                <div class="collapsible-header yellow">
                    <div>
                        <i class="fab fa-leanpub"></i>
                        <strong>{{ lesson.title }}</strong><br>
                        <p>{{ lesson.level }}: {{ lesson.duration }}mins. </p>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div>
                        <strong>{{ lesson.description }}</strong><br>
                        {{ lesson.procedure }}<br>
                        <em>Added by: {{ lesson.created_by }} </em>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}

{% endblock %}